/out/
/dumps_tu1/
/disc_tu1/
/thirdparty/rexglue-sdk/out/

*.log
*.xex
*.iso
*.bin
*.pdb
*.ilk
*.obj
.DS_Store

CMakeUserPresets.json
.vs/
.vscode/
.idea/
.dockerignore
Dockerfile
build-linux-docker.cmd
.gitattributes
